@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: #63b1c7;
    font-family: "Darumadrop One";
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin: 20px;
}

h3 {
    font-size: 2rem;
    margin: 20px;
}

.front img {
    width: auto;
    height: 100%;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    animation: anime1 0.5s ;
    animation: anime1 0.5s ease 0s infinite alternate;
    transform-origin:center;
}

@keyframes anime1 {
  from {
    transform: scale(0.9, 0.9);
  }
  to {
    transform: scale(1,1);
  }
}
