@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #63b1c7;
    overflow: hidden;
}

h3 {
    font-size: 6rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Darumadrop One";
}

#restart, #finish {
    border: 2px solid #70b5b4;
    border-radius: 20px;
    padding: 8px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2rem;
    margin: 20px;
    margin-right: 40px;
    margin-left: 10px;
    background: #b0d5d4;
    font-family: "Darumadrop One";
}
